/* button {
    padding: 7px;
    font-size: 12px;
    font-family: Verdana;
    color: #ffffff;
    border-radius: 5px;
    border: solid 1px #006bb8;
    background-color: #0095ff;
    cursor: pointer;
}

button:hover {
    background-color: #0071c2;
}

button:disabled {
    background-color: #8b8b8b;
    border-color: #8b8b8b;
    cursor: not-allowed;
} */
